ul.nav.nav-pills
  li(class=title.match(/^Statistics$/g)?'active':undefined)
    a(href='/statistics') Pending
  li(class=title.match(/^Statistics :: Volume$/g)?'active':undefined)
    a(href='/statistics/volume') Volume
  li(class=title.match(/^Statistics :: Reward$/g)?'active':undefined)
    a(href='/statistics/reward') Reward
  li(class=title.match(/^Statistics :: Failed$/g)?'active':undefined)
    a(href='/statistics/failed') Failed
