extends ../layout/default

block content
  
  .row
    .col-md-8.col-md-offset-2
      include _navigation
  
  .row
    .col-md-8.col-md-offset-2
      canvas#statistics(width='750', height='400')

      script(type='text/javascript')
        (function() {
          $(document).ready(function() {
            var chart, ctx;
            ctx = $("#statistics").get(0).getContext("2d");
            data = !{results}
            return chart = new Chart(ctx).Bar(data);
          });

        }).call(this);
