body {
  padding-top: 70px;
}

.jumbotron {
  color: #fff;
  background: url("/images/jump_freighter.jpg") repeat center -330px;
  min-height: 350px;
}

#war-rates {
  margin-top: 3.5em;
}

.rates {
  .dl-horizontal dt { width: 230px; }
  .dl-horizontal dd { margin-left: 250px; }
}