h3 Pricing Layout

.form-group
  label.col-lg-2.control-label(for='contract_details') Contract Details
  .col-lg-10
    textarea.form-control(name='keys[contract_details]', rows="10")= settings.contract_details
