meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/styles.css')
script(src='/javascript/jquery.min.js')
script(src='/javascript/bootstrap.min.js')
if title.match(/^Contracts/g)
  script(src='/javascript/jquery.dataTables.min.js')
  script(src='/javascript/dt_bootstrap.js')
if title.match(/^Statistics/g)
  script(src='/javascript/chart.min.js')
