.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Rood Licht Handel BV
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li(class=title.match(/^Pricing$/g)?'active':undefined)
          a(href='/') Pricing
        li(class=title.match(/^Contracts$/g)?'active':undefined)
          a(href='/contracts') Contracts
        li(class=title.match(/^Statistics$/g)?'active':undefined)
          a(href='/statistics') Statistics

      ul.nav.navbar-nav.navbar-right
        li
          if user
            a(href="/logout") Logout
          else
            a(href="/login") Login
