- if (route.startStation !== null)
  tr
    td
      strong
        = route.startStationNameShort
        | 
        span.glyphicon.glyphicon-resize-horizontal 
        | 
        = route.endStationNameShort

    td.rates 
      = accounting.formatNumber(route.rate, 0)
      | isk @ m
      sup 3
