extends ../layout/default

block content
  .jumbotron
      h1 Rood Licht Handel BV
      p Because monopolies suck.

  .container
    .row
      .col-md-4
        h2 Contract Details
        p This service is open to everyone blue to GSF. 
        ul
          li 
            | Contract your items in a courier contract to the corp 
            strong Rood Licht Handel BV
          li 
            | Set "Expiration" to 
            strong 7 days 
            | and "Days to Complete" to 
            strong 7 days.
          li 
            | Maximum size of individual packages no greater than 
            strong 367,000 m3.
          li 
            | Set the collateral to 
            strong zero.
          li Set price according to Route Rates.
          li 
            strong 1m Isk Minimum 
            | on each contract.
          li No maximum value on packages.
        p Contracts from neutral alts from Jita are not a problem. Contracts from neutral alts from Nullsec to Jita is a no-go.

      .rates.col-md-4
        h2 Route Rates
        h3 Deklein Routes:
        dl.dl-horizontal
          dt Regional Stops
          dd 
            ul.list-unstyled
              li UMI-KK
              li QPO-WI
              li VFK-IV
              li JU-OWQ
          dt Jita &lt;-&gt; Regional Stop
          dd 
            | 250isk @ m
            sup 3

          dt Jita &lt;-&gt; MZ1E-P
          dd 
            | 350isk @ m
            sup 3

          dt Regional Stop &lt;-&gt; Regional Stop
          dd 
            | 100isk @ m
            sup 3
          dt MZ1E-P &lt;-&gt; Regional Stop
          dd 
            | 150isk @ m
            sup 3

      #war-rates.rates.col-md-4
        h3 War Front Routes: 
        dl.dl-horizontal
          dt Jita &lt;-&gt; B-DBYQ 
          dd
            | 250isk @ m
            sup 3
          dt Jita &lt;-&gt; 4-EP12 
          dd
            | 350isk @ m
            sup 3
          dt Jita &lt;-&gt; 1DH-SX 
          dd
            | 400isk @ m
            sup 3
          dt Jita &lt;-&gt; G-TT5V 
          dd
            | 450isk @ m
            sup 3
          dt Jita &lt;-&gt; F2OY-X 
          dd
            | 450isk @ m
            sup 3
          dt Deklein xx &lt;-&gt; 4-EP12
          dd
            | 500isk @ m
            sup 3
          dt Deklein Stop &lt;-&gt; 1DH-SX
          dd
            | 650isk @ m
            sup 3
          dt Deklein Stop &lt;-&gt; G-TT5V
          dd
            | 700isk @ m
            sup 3
          dt Deklein Stop &lt;-&gt; F2OY-X
          dd
            | 700isk @ m
            sup 3
          dt B-DBYQ &lt;-&gt; 4-EP12
          dd
            | 250isk @ m
            sup 3
          dt B-DBYQ &lt;-&gt; A-1CON 
          dd
            | 300isk @ m
            sup 3
          dt 4-EP12 &lt;-&gt; A-1CON
          dd
            | 150isk @ m
            sup 3