extends ../layout/default

block content
  .jumbotron
      h1= process.env.APP_NAME
      p Because monopolies suck.

  .container
    .row
      .col-md-4
        h2 Contract Details

        != pricing_layout

      .col-md-4
        h2 Route Rates
        h3 Deklein Routes:

        table.table.table-striped.table-condensed
          tbody
          each route in routes
            if route.is_deklein
              include _row_route

      .col-md-4
        h2 &#160;
        h3 War Front Routes:

        table.table.table-striped.table-condensed
          tbody
          each route in routes
            if ! route.is_deklein
              include _row_route


