extends ../layout/default

block content
  .jumbotron
      h1 Rood Licht Handel BV
      p Because monopolies suck.

  .container
    .row
      .col-4.col-lg-4
        h2 Contract Details
        ul
          li 1m Isk minimum on each contract.
          li Contract your items in a courier contract to the corp 
            strong Rood Licht Handel BV
          li Set "Expiration" to 7 days and "Days to Complete" to 7 days.
          li Maximum size of individual packages no greater than 367,000 m3.
          li Set the collateral to zero.
          li No maximum value on packages.
          li This service is open to everyone blue to GSF. Contracts from neutral alts from Jita are not a problem. Contracts from neutral alts from Nullsec to Jita is a no-go.

      .col-8.col-lg-8
        h2 Route Rates
        h3 Deklein route:
        pre
          Deklein xx = Any 1 of: UMI-KK, QPO-WI, VFK-IV and JU-OWQ

          Jita to/from Deklein xx          : 250isk per m3.
          Jita to/from MZ1E-P              : 350isk per m3.

          Deklein xx to/from Deklein yy    : 100isk per m3.
          MZ1E-P to/from Deklein xx        : 150isk per m3.

        h3 War front 
        pre 
          Jita to/from B-DBYQ              : 250isk per m3.
          Jita to/from 4-EP12              : 350isk per m3.
          Jita to/from 1DH-SX              : 400isk per m3.
          Jita to/from G-TT5V/F2OY-X       : 450isk per m3.


          Deklein xx to/from 4-EP12        : 500isk per m3.
          Deklein xx to/from 1DH-SX        : 650isk per m3.
          Deklein xx to/from G-TT5V/F2OY-X : 700isk per m3.
          B-DBYQ to/from 4-EP12            : 250isk per m3.
          B-DBYQ to/from A-1CON            : 300isk per m3.
          4-EP12 to/from A-1CON            : 150isk per m3.