table#routes.table.table-hover
  thead
    tr
      th Start Station
      th End Station
      th Rate
      th.actions Action

  tbody
    each route in routes
      tr
        td= route.startStation.stationName
        td= route.endStation.stationName
        td
          = route.rate
          | isk @ m
          sup 3
        td.actions
          form(method="post", action="/routes/#{route.id}")
            input(type="hidden", name="id", value=route.id)
            input(type="hidden", name="_method", value="DELETE")
            input.btn.btn-danger.btn-xs(value="Delete", type="submit")
